@use './colors' as *;
@use './mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

// ==========================================
// HEADER & NAV
// ==========================================

header {
	.wrapper {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		background-color: $white;
		z-index: 10;

		.logo a {
			text-decoration: none;
			color: $darker;
			padding: 2.5rem 3rem;
			font-size: 2.5rem;
			i {
				color: $dark;
			}
		}

		.burger-btn {
			padding: 2.5rem 3rem;
			background: none;
			border: none;
			font-size: 2.5rem;
			color: $darker;
			cursor: pointer;
		}

		.nav {
			display: none;
		}
	}
}

// ==========================================
// FOREST SECTION
// ==========================================

.forest {
	.forest__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.forest__box-img {
			img {
				max-width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				filter: brightness(50%);
			}
		}

		.forest__box-text {
			position: absolute;
			top: 40%;
			display: flex;
			flex-direction: column;
			justify-content: start;
			margin: 40px;
			color: $white;
			font-size: 1.5rem;
		}
	}
}

@import './small';
@import './medium';
@import './large';
