@use './colors' as *;
@use './mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

// ==========================================
// HEADER & NAV
// ==========================================

header {
	
	.wrapper {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		background-color: $white;
		z-index: 10;

		.logo a {
			text-decoration: none;
			color: $darker;
			padding: 2.5rem 3rem;
			font-size: 2.5rem;
			i {
				color: $dark;
			}
		}

		.burger-btn {
			padding: 2.5rem 3rem;
			background: none;
			border: none;
			font-size: 2.5rem;
			color: $darker;
			cursor: pointer;
		}

		.nav {
			display: none;
		}
	}
}


// ==========================================
// FOREST SECTION
// ==========================================


@import './small';
@import './medium';
@import './large';
